<div class='container-fluid'>
  <div class='row'>

    <div class='col-md-2 col-md-offset-1 navbox'>

      <div class='navbox-menu'>
        <h3 ng-click="show('projects')" class='menu'>PROJECTS</h3>
        <h3 ng-click="show('experience')" class='menu'>EXPERIENCE</h3>
        <h3 class='menu'>BIO</h3>
        <h3 class='menu'>RESUME</h3>
        <h3 class='menu'>CONTACT</h3>
      </div>

    </div>

    <!-- PROJECTS -->
    <div class='col-md-9 col-md-offset-3 projects off' id='projects'>
      <div class='menu'>
        <h4 class='projects text-center' style="font-family: 'Raleway', sans-serif;">twang</h4>
        <h4 class='projects text-center' style="font-family: 'Pacifico', cursive;">gogoColorado</h4>
        <h4 class='projects text-center'>EasySpeak</h4>
        <h4 class='projects text-center' style="font-family: 'Quicksand', sans-serif;">gnosh.</h4>
        <h4 class='projects text-center'>Speed CandiDating</h4>
      </div>
    </div>

    <div class='col-md-2 col-md-offset-3 projects off' id='experience'>
      <div class='menu'>
        <h4 class='menu text-center'>Youth Treatment Counselor</h4>
        <p class='description'>Tennyson Center for Children</p>

        <h4 class='menu text-center'>Program Director</h4>
        <p class='description'>Hidden Valley Camp</p>

        <h4 class='menu text-center'>Australia</h4>
        <p class='description'></p>

        <h4 class='menu text-center'>Legal Assistant</h4>
        <p class='description'></p>

        <h4 class='menu text-center'>Human Rights Intern</h4>
        <p class='description'></p>
      </div>
    </div>

  </div>
</div>
