.aside {
  position: fixed;
  min-width: 7%;
  max-width: 7%;
  height: 80%;
  left: 1%;
  top: 8%;
  border-right: 1px solid gray;
}
div.contact {
  height: 135px;
}

i.contact {
  margin-right: 2%;
  margin-left: 2%;
  padding: 3% 3% 3% 3%;
  color: rgb(106, 106, 106);
}

i.fa-linkedin:hover {
  color: rgb(26, 135, 189);
}
i.fa-github:hover {
  color: black;
}
i.fa-twitter:hover {
  color: rgb(41, 178, 255);
}
i.fa-instagram:hover {
  color: rgb(114,74,189);
}
i.fa-angellist:hover {
  color: rgb(255, 94, 94);
}
