/* SIDE NAV*/
div.navbox {
  position: absolute;
  margin-left: 5%;
  top: 8%;
  border-right: 1px solid gray;
  height: 80%;
  width: 15%;
}
div.navbox-menu {
  margin-top: 109%;
}
h3.menu {
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
  color: rgb(105, 105, 105);
  padding: 2px;
  margin-bottom: 2px;
  /*text-align: center;*/
}
div.menu-details > p {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  padding-left: 5%;
}
h3.menu:hover {
  color: rgb(92, 159, 237);
}
span.inactive {
  display: none;
}
span.active {
  display: inline-block;
}
div.inactive {
  display: none;
}
div.active {
  .fade-in {
    -webkit-transition: opacity 0.5s ease-in;
         -moz-transition: opacity 0.5s ease-in;
           -o-transition: opacity 0.5s ease-in;
                                    opacity: 1;
  }
}

/* FADE-IN ON MENU CLICK*/
.off {
  opacity: 0;
}
.fade-in {
  -webkit-transition: opacity 0.5s ease-in;
       -moz-transition: opacity 0.5s ease-in;
         -o-transition: opacity 0.5s ease-in;
                                  opacity: 1;
}

/* PROJECTS HEADER */
h4.projects {
  display: inline-block;
  border-radius: 4px;
  color: rgb(105, 105, 105);
  margin-right: 5.3%;
  font-size: 26px;
  /*text-align: center;*/
}
h4#twang {
  font-family: 'Raleway', sans-serif;
}
h4#twang:hover {
  color: rgb(6, 7, 48)
}
h4#gogo {
  font-family: 'Pacifico', cursive;
}
h4#gogo:hover {
  color: rgb(68, 27, 126);
}
h4#easyspeak {
  font-family: 'Quicksand',sans-serif;
}
h4#gnosh {
  font-family: 'Quicksand', sans-serif;
}
h4#speedCandi {
  font-family: 'Barbatrick', sans-serif;
  font-size: 32px;
}
h4#speedCandi:hover {

    color: red;
}


/*h1#twang {
  font-family: 'Raleway', sans-serif;
}
h1#gogo {
  font-family: 'Pacifico', cursive;
}*/
