div.navbox {
  position: absolute;
  margin-left: 6%;
  top: 8%;
  border-right: 1px solid gray;
  height: 80%;
  width: 14%;
}
div.navbox-menu {
  margin-top: 109%;
}

h3.menu {
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
  color: rgb(105, 105, 105);
  padding: 2px;
  margin-bottom: 2px;
  /*text-align: center;*/
}
h3.menu:hover {
  color: rgb(92, 159, 237);
}

/* FADE-IN ON MENU CLICK*/
.off {
  opacity: 0;
}
.fade-in {
  -webkit-transition: opacity 0.5s ease-in;
       -moz-transition: opacity 0.5s ease-in;
         -o-transition: opacity 0.5s ease-in;
                                  opacity: 1;
}

h4.projects {
  display: inline-block;
  border-radius: 4px;
  color: rgb(105, 105, 105);
  margin-right: 10%;
  /*text-align: center;*/
}


/*h1#twang {
  font-family: 'Raleway', sans-serif;
}
h1#gogo {
  font-family: 'Pacifico', cursive;
}*/
